@charset "UTF-8";

.guestbook {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  width: 600px;
  height: auto;
  margin: auto; /* Add this line */
  position: absolute; /* Add this line */
  margin-top: 50px;
  left: 0; /* Add this line */
  
  right: 0; /* Add this line */
}

.guestbook h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.guestbook form label {
  display: block;
  font-size: 1.6em;
  margin-bottom: 5px;
  
}

.guestbook form input[type="text"],
.guestbook form textarea {
  border: 3px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  font-size: 1.2rem;
}
.guestbook form button[type="button"] {
	font-size: 1.2rem;
		width:100%;
			background-color: #333;
			color: #fff;
			padding: 10px;
			border-radius: 5px;
			border: none;
			cursor: pointer;
			font-size: 16px;
			margin-top: 15px;
		}

.guestbook form button[type="button"]:hover {
			background-color: #555;
		}


.guestbook .entries {
  margin-top: 20px;
}

.guestbook .entry {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.guestbook .entry p {
  font-size: 1em;
  line-height: 1.4;
  margin-bottom: 5px;
}

.guestbook .entry small {
  font-size: 0.8em;
  color: #999;
}


/* 달력 */
.guestbook form input#publeYear {
  border: 3px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  font-size: 1.2rem;
}

/* 작가 선택 */
.guestbook form input#authorName{
	border: 3px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  font-size: 1.2rem;
}

/* 작가 선택버튼 */
.authorId_btn{
font-size: 1.2rem;
width:100%;
background-color: #333;
color: #fff;
padding: 10px;
border-radius: 5px;
border: none;
cursor: pointer;
font-size: 16px;
margin-top: 15px;
		}

.authorId_btn:hover {
	background-color: #555;
}

#auInsert, #auList {
  font-size: 1.2rem;
  width: 15%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
  
  /* Change display to "block" or "inline-block" */
  display: block; /* or display: inline-block; */
}

#auInsert:hover, #auList:hover {
  background-color: #555;
}



/* 카테고리 css 설정 */
.guestbook form select , .cate1 , .cate2 , .cate3 , #discount_interface {
  border: 3px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  font-size: 1.2rem;
}

.cate_wrap span {
    font-weight: 600;
}
.cate_wrap:not(:first-child) {
    margin-top: 20px;
}


/* 입력란 공란 경고 태그 */
.ck_warn{						
	display: none;
    padding-top: 10px;
    text-align: center;
    color: #e05757;
    font-weight: 300;    
}


/* 할인 가격 문구 */
.step_val{						
	display: block;
    padding-top: 5px;
    font-weight: 500;
}
