<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>
	
	
	<!-- Alias (vo)설정 -->
	<typeAliases>
		<typeAlias alias="board" type="com.look.model.board.BoardVO" />
		<typeAlias alias="member" type="com.look.model.member.MemberVO" />
		<typeAlias alias="book" type="com.look.model.book.BookVO" />
		<typeAlias alias="author" type="com.look.model.author.AuthorVO" />
		<typeAlias alias="cate" type="com.look.model.cate.CateVO" />
		
	</typeAliases> 
	
	<!-- Sql Mapper 설정 -->
	 <mappers>
		<mapper resource="mappers/board/board-mapping.xml" />
		<mapper resource="mappers/member/member-mapping.xml" />
		<mapper resource="mappers/book/book-mapping.xml" />
		<mapper resource="mappers/author/author-mapping.xml" />
		<mapper resource="mappers/cate/cate-mapping.xml" />
		
	</mappers> 
</configuration>