@charset "UTF-8";

body {
			
			font-family: Arial, sans-serif;
			background-color: #f2f2f2;
			margin: 0;
			padding: 0;
		}

		.container {
			
			max-width: 600px;
			margin: 0 auto;
			padding: 20px;
			background-color: #fff;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
		}

		h1 {
			text-align: center;
			color: #333;
		}

		form {
			display: flex;
			flex-direction: column;
		}

		label {
			margin-top: 10px;
			color: #333;
		}

		input[type="text"], input[type="email"], input[type="password"] {
			padding: 10px;
			border-radius: 5px;
			border: none;
			margin-top: 5px;
			margin-bottom: 15px;
			font-size: 16px;
			color: #333;
			background-color: #f2f2f2;
			box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
		}

		input[type="button"] {
			background-color: #333;
			color: #fff;
			padding: 10px;
			border-radius: 5px;
			border: none;
			cursor: pointer;
			font-size: 16px;
			margin-top: 15px;
		}

		input[type="button"]:hover {
			background-color: #555;
		}
		
        .email-container {
        display: flex;
        align-items: center;
    }

    .email-input {
        width: 48%; /* Adjust the width as needed */
        margin-right: 5px; /* Add some margin for spacing */
    }

    #member_email3 {
        width: 48%; /* Adjust the width as needed */
        height: 40px;
        margin-left: 51%;
    }